/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Variables CSS */
:root {
    /* Colors */
    --primary-color: #331B3B;
    --secondary-color: #000000;
    --accent-color: #ECF7FF;
    --border-color: #FDC221;
    --body-color: #ffffff;
  
    /* Font and Typography */
    --body-font: "Hind Vadodara", sans-serif;
    --nav-brand-font: "Playfair Display", serif;
    --title-font: "Hind Vadodara", sans-serif;
    --normal-font-size: 17px;
    --small-font-size: 16px;
}

/* Base CSS */
*,
::after,
::before {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--primary-color);
}

p,
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a,
a:link,
a:visited,
a:active {
    color: var(--primary-color);
    text-decoration: none;
}

ul, li {
    list-style: none;
    margin: 0;
}

/* Reuse CSS */
.container {
    max-width: 1250px;
    margin: 0 auto;
}

.btn {
    background-color: var(--primary-color);
    color: var(--body-color) !important;
    border-radius: 10px;
    font-weight: bold;
    display: inline-block;
    padding: 15px 30px;
    text-transform: uppercase;
    transition: all 0.3s linear;
}

.btn:hover {
    background-color: var(--border-color);
    color: black !important
}

section {
    padding-block: 4.5rem;
}

.section-title,
.section-subtitle {
    font-family: var(--title-font);
    text-align: center;
    line-height: 1;
    font-size: 3rem
}

.section-title {
    font-weight: bold;
}

.section-subtitle {
    font-weight: normal;
}

.section-title-container .highlight {
    position: relative
}

.section-title-container .highlight::after {
    content: '';
    position: absolute;
    background-color: var(--border-color);
    width: 100%;
    height: 15px;
    left: 0;
    bottom: 16px;
    z-index: -1;
}

/* Shape CSS */
.shape {
    position: absolute;
    top: 0;
    right: 0;
}

.shape img {
    width: 450px;
}

/* Header CSS */
header {
    padding-block: 15px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .075);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index: 9;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .menu-item {
    display: flex;
    gap: 30px;
    width: 33.33%
}

header .nav-link {
    color: var(--primary-color);
    font-size: var(--normal-font-size);
    font-weight: bold;
    position: relative;
}

header .nav-link::after {
    content: '';
    position: absolute;
    background-color: var(--border-color);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: all 0.3s linear;
}

header .nav-link:hover::after {
    width: 30px;
}

header .menu-logo {
    width: 33.33%;
    justify-content: center;
    display: flex;
}

header .navbar-brand {
    font-family: var(--nav-brand-font);
    font-size: 1.75rem;
    font-weight: bold;
}

header .menu-social {
    width: 33.33%;
    display: flex;
    justify-content: flex-end;
}

header .menu-social a {
    font-size: 1rem;
    border: 1px solid black;
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-left: 10px;
    transition: all 0.3s linear;
}

header .menu-social a:hover {
    background-color: var(--border-color);
    border-color: transparent;
}

header .menu-social a:hover i {
    color: var(--body-color)
}

header .menu-social .fa-facebook-f {
    color: #1877F2;
}

.menu-social .fa-linkedin-in {
    color: #0077B5;
}

header .menu-social .fa-instagram {
    color: #FD1D1D;
}

/* Hero Content CSS */
.hero-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.hero-title {
    font-size: 4.5rem;
    font-family: var(--body-font);
    line-height: 1;
    font-weight: 300;
}

.title-bold {
    font-weight: bold
}

.highlight {
    position: relative
}

.highlight::after {
    content: '';
    position: absolute;
    background-color: var(--border-color);
    width: 100%;
    height: 20px;
    left: 0;
    bottom: 30px;
    z-index: -1;
}

.hero-text {
    font-size: var(--small-font-size);
    margin-block: 25px;
}

.hero-wrapper-picture img {
    width: 600px;
    height: auto;
}

/* Service CSS */
.service {
    background-color: var(--accent-color);
    border-top-right-radius: 100px;
    position: relative;
    z-index: 1
}

.card-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.card-item {
    width: 300px;
    box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.05);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.card-item .icon {
    background-color: #ffeed4;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.card-item .icon i {
    font-size: 25px;
}

.card-title {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
}

.card-text {
    text-align: justify;
    font-weight: 300;
}

/* Service CSS */
.about-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.about-picture img {
    width: 600px;
    height: auto
}

.about-text .section-title,
.about-text .section-subtitle {
    text-align: left;
}

.about-description {
    margin-block: 25px;
    text-align: justify;
}

.about-text .btn {
    margin-top: 20px;
}

/* Recent Work CSS */
.work {
    background-color: #ffeed4;
    border-top-left-radius: 100px;
}

.work-title {
    display: flex;
    justify-content: space-between;
    gap: 250px;
}

.work-title .section-title-container {
    width: 70%
}

.work-title .section-title,
.work-title .section-subtitle {
    text-align: left
}

.work-title .work-title-description {
    text-align: justify;
}

.work-title .section-title-container .highlight {
    position: relative;
    z-index: 1
}

.work-title .section-title-container .highlight::after {
    content: '';
    position: absolute;
    background-color: var(--border-color);
    width: 100%;
    height: 15px;
    left: 0;
    bottom: 16px;
    z-index: -1;
}

.work-sample {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.work-sample .card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 450px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .075)
}

.work-sample .card img {
    width: 100%;
    height: auto;
}

.work-sample .card-title {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.work-sample a {
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    transition: all 0.3s linear;
}

.work-sample a:hover {
    border-color: var(--accent-color);
    background-color: var(--border-color);
    color: #FFFFFF;
}

.work-sample h3,
.work-sample a {
    text-transform: capitalize
}

/* Testimonial CSS */
.testimonial-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.testimonial-wrapper .card {
    background-color: #ffffff;
    padding: 30px;
    max-width: 450px;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.08)
}

.testimonial-wrapper .card i {
    font-size: 4rem;
    color: var(--border-color);
}

.testimonial-wrapper .card .quote {
    text-align: justify;
    margin-block: 10px;
    font-size: var(--small-font-size)
}

.testimonial-wrapper .card h4 {
    color: #6c757d;
}

/* Footer CSS */
footer {
    font-family: var(--body-font);
    background-color: var(--secondary-color);
    border-top-right-radius: 100px;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    padding-block: 4rem;
}

.footer-text {
    color: #ffffff;
    max-width: 400px;
    font-family: var(--body-font);
}

.footer-text h1 {
    font-family: var(--nav-brand-font);
    font-size: 2.5rem;
}

.footer-text p {
    text-align: justify;
    margin-block:30px;
}

.footer-text h4 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer-text form {
    display: flex;
}

.footer-text input[type="email"] {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0;
    max-width: 300px;
    width: 100%;
    padding: 10px;
    text-transform: lowercase;
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    color: white;
}

.footer-text input[type="email"]:focus {
    box-shadow: none;
}

.footer-text button[type="submit"] {
    background-color: #FFFFFF;
    border: 1px solid white;
    border-radius: 0;
    max-width: 100px;
    width: 100%;
    color: var(--primary-color);
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    cursor: pointer;
    transition: all 0.3s linear;
}

.footer-text ::placeholder {
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: var(--small-font-size);
    font-family: var(--body-font);
}

.footer-map iframe {
    width: 400px;
    height: 300px;
    margin-left: 300px;
    border: 1px solid white !important;
    padding: 10px;
}